@charset "utf-8";
@import "/resources/css/fonts/corbert/corbert.css";
@import "/resources/font-awesome-4.3.0/css/font-awesome.min.css";

/**
 * Created on : Sep 29, 2014, 8:22:54 AM
 * Author     : efanchik
 */

h1{
  color: #428bca;
}

#error-widget{
  max-width: 60%;
  margin: 10% auto 0 auto;
}

#error-icon{
  margin-right: 10%;
  color: #bbbbbb;
}

.fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
  margin-right: 10%;
}

.fa-stack-2x {
  font-size: 1em;
}
.fa-stack-1x {
  font-size: 0.6em;
}

.panel-footer p{
  margin: 0;
}

.message{
  color: #A0A0A0;
}

.descr {
  font-size: 0.9em;
  color: #A0A0A0;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
}

#error-widget #search-form{
  width: 100%;
  padding: 0;
}
#error-widget #input-search{
  width: 80%;
}

#error-widget .panel-footer{
  margin-top: 20px;
}
