@charset "utf-8";
@import '/resources/css/fonts/myriad/myriad.css';

html, body { height: 100%; }

body {
	font-family: MyriadPro, Helvetica, Verdana, Arial sans-serif;
	font-size: 16px;
}

a { color: #777 !important; }
a:visited { color: #609; }
*:focus { outline: 0; }

.grob {
	width: 1px;
	height: 1px;
	margin: 0;
	padding: 0;
	opacity: 0;
}

/*--- Main ---*/
.wrapper {
	min-height: 100%;
	min-height: calc(100vh - 75px);
	height: auto;
	margin: 0;
}

.content {
	padding: 10px 5px 0;
	display: table;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	position: absolute;
	table-layout: fixed;
	padding-bottom: 113px;
}

/* @media screen and (min-device-height: 380px) and (min-height: 380px) { .content { padding-top: 20vh; } } */

a.logo {
	display: table;
	margin: 0 auto 20px;
	text-decoration: none;
	margin-top: 10px;
}

a.logo > img { width: 100px; }

/*--- Search Form ---*/
#search-form {
	display: block;
	padding: 0;
	position: relative;
	width: calc(100% - 50px);
	margin-left: -7px;
}
#search-form > input {
	padding: 6px 60px 6px 12px;
	border-radius: 0;
	width: calc( 100% - 20px);
	margin: 0 auto;
	height: 45px;
	font-size: 22px;
	margin-left: 15px;
}
#search-form > button.btn {
	background: transparent;
	width: 44px;
	height: 44px;
	padding: 0;
	border: 0 none;
	color: #777;
	position: absolute;
	top: 0;
	right: 5px;
	bottom: 0;
	left: auto;
	border-radius: 0;
	padding-top: 8px;
}
#clear {
	background: transparent;
	padding: 0;
	border: 0 none;
	position: absolute;
	top: 2px;
	right: 47px;
	bottom: 0;
	left: auto;
	border-radius: 0;
	padding-top: 8px;
	color: #757575;
	cursor: pointer;
	font: 35px/23px arial,sans-serif;
}
.glyphicon{font-size:21px;}

#autosuggest .autocomplete {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 9px;
	min-width: 200px;
	width: calc( 100% - 20px);
	top: 45px;
	margin: 0 auto;
	margin-left: 15px;
	padding-left: 13px;
	z-index: 200;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#autosuggest .autocomplete li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
	font-size: 20px;
	font-weight: normal;
}

#autosuggest .autocomplete li:hover {
	cursor: pointer;
	color: #555;
	background-color: #a6c9e2;
}

a.motto {
	display: table;
	margin: 10px auto 0;
	font-size: 1.4em;
	text-decoration: underline;
}

.addto > a#btn-engine {
	display: table;
	height: 25px;
	margin: 0 auto 10px;
}

/*--- Info ---*/
#info {
	background: #fff;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

#info.minimized { height: auto; }
/*#info #show_info{
	float: right;
	background: url('/resources/img/start_page/menu_close.png') no-repeat scroll -32px 0 transparent;
	width: 31px;
	height: 32px;
	text-decoration: none;
	font-size: 17px;
	margin: 5px;
	position: absolute;
	right: 15px;
}*/
#info #show_info {
	float: right;
	color: #337ab7;
	height: 47px;
	text-decoration: none;
	font-size: 32px;
	margin: 9px;
	position: absolute;
	right: 7px;
	transform: rotate(90deg);
	top: -5px;
}
#info #show_info_close{
	float: left;
	/*background: url('/resources/img/start_page/menu_close.png') no-repeat scroll -32px 0 transparent;*/
	width: 31px;
	height: 32px;
	text-decoration: none;
	font-size: 32px;
	margin: 5px;
	margin-bottom: 30px;
	margin-top: -10px;
	color: #777;
	left: 7px;
	transform: rotate(90deg);
}
.sidebar ul>li{clear:both;}


#info p.cc {
	margin: 0;
	color: #777;
	padding-left: 12px;
	font-size: 14px;
}

#info ul.nav {
	width: 100%;
	margin: 0;
	padding: 0 42px 15px 5px;

}

#info.minimized ul.nav { visibility: visible; }

#info ul.nav > li > a {
	line-height: 34px;
	padding: 0 5px;
	white-space: nowrap;
	text-transform: uppercase;
	border-radius: 0;
	font-size:18px;
}

#info .icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	vertical-align: text-bottom;
}

#info .icon-about { background-image: url('/resources/img/start_page/about.png'); }
#info .icon-blog { background-image: url('/resources/img/start_page/blog.png'); }
#info .icon-app { background-image: url('/resources/img/start_page/izebra.png'); }
#info .icon-add_to_search { background-image: url('/resources/img/start_page/add.png'); }
#info .icon-set_as_home { background-image: url('/resources/img/start_page/home.png'); }

#info .social-ft {padding-left: 13px; }
#info .social-ft .share-square {
	width: 28px;
	height: 28px;
	margin: 0;
	transition: all 0.6s ease 0s;
}

#info .social-ft .share-square.ss-fb { background-position: -196px -109px; }
#info .social-ft .share-square.ss-fb:hover { background-position: -196px -137px; }

#info .social-ft .share-square.ss-tw { background-position: -56px -109px; }
#info .social-ft .share-square.ss-tw:hover { background-position: -56px -137px; }

#info .social-ft .share-square.ss-ytb { background-position: 0px -109px; }
#info .social-ft .share-square.ss-ytb:hover { background-position: 0px -137px;}
/*--- end info ---*/

footer {
	background-color: #f3f3f3;
	height: 40px;
	color: #ccc;
	text-align: center;
	line-height: 1.0em;
	white-space: nowrap;
	position: relative;
}
footer > * { display: inline-block; }

footer .dropup { position: static; }

footer .dropup > ul.dropdown-menu {
	margin: 0;
	min-width: 120px;
	border-width: 1px 1px 0 0;
	text-align: center;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
}

footer .al,
footer .ar {
	display: inline-block;
	padding: 0 12px;
	line-height: 40px;
	position: absolute;
	top: 0;
	right: auto;
	bottom: 0;
	left: auto;
}
footer .al { left: 0; }
footer .ar { right: 0; }

footer > #social { padding-top: 4px; }
footer > #social > a { margin: 0 2px;}
footer > #social > .share-square-facebook { background-position: -384px -45px; }
footer > #social > .share-square-twitter { background-position: -64px -45px; }

/*------sidebar-------*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
header {
	position: relative;
	padding: 10px;
	background: #3e4156;
}


.icon-menu {
	display: none;
	height: 30px;
	width: 12px;
	float: left;
	padding: 5px 0;
	cursor: pointer;
	margin-right: 10px;
	margin-left: -10px;
}

.divide {
	display: block;
	height: 2px;
	margin: 3px 0;
	background: #f1f1f1;
}

.container {overflow: hidden;}

.sidebar {
	width: 300px;
	padding: 20px;
	float: left;
	background: #fff;

	-webkit-transition: left 1s ease-out 0.5s;
	-moz-transition: left 1s ease-out 0.5s;
	-o-transition: left 1s ease-out 0.5s;
	transition: right 0.5s ease-out 0.5s;
}



.icon-menu {display: block;}

.sidebar {
	position: fixed;
	right: -100%;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.sidebar.active {
	right: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
ul.nav>li>a>i {margin-right: 15px;}


#search_cont {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
	width: 100%;
	padding-top: calc(100vh - 158vw);
}
#text_cont {
	text-align: center;
	font-size: 18px;
}
#text_cont a {
	color: #337ab7 !important;
}
/*--- Sub Menu ---*/
ul.sub-menu {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0 10px 8px;
	margin-bottom: 15px;
	margin-top: -5px;
	column-width: 150px;
	-moz-column-width: 150px;
	-webkit-column-width: 150px;
	column-count: 6;
	-moz-column-count: 6;
	-webkit-column-count: 6;
	column-gap: 0;
	-moz-column-gap: 0;
	-webkit-column-gap: 0;
}

ul.sub-menu > li { list-style: none; }

ul.sub-menu > li.active > a { font-weight: bold; }

ul.sub-menu > li > a {
	display: block;
	padding: 4px 6px;
	font-size: 17px;
	text-decoration: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.sub-menu > li > a > img {
	max-width: 14px;
	max-height: 14px;
	margin-right: 6px;
}
.cat-select {
	float: right;
	margin-top: -60px;
	margin-right: -50px;
	height: 45px;
	width: 55px;
	overflow: hidden;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	padding: 4px 10px 8px 11px;
	border-left: none;
	border-top-right-radius: 6px;
	background: linear-gradient(#fff, #f5f5f5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.cat-select a {color: #337ab7;}

.cat-select img {
	width: 21px;
	height: 21px;
	margin-top: 8px;
	margin-left: 5px;
}
/*--- end. Sub Menu ---*/
ul.active-menu{
	display: -webkit-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin: 0 auto;
	padding: 5px 0 10px;
	list-style: none;
	text-align: justify;
	line-height: 0;
	font-size: 16px;
	zoom: 1;
	text-align-last: justify;
}
ul.active-menu li{
	display: inline-block;
	text-align: left;
	color: #297beb;
	line-height: normal;
	font-size: 16px;
	vertical-align: top;
	padding-top: 5px;
	padding-right: 10px;
}

.box-from-list{
	float:left;
	width:100%
}

#title-json {
	float:left;
	width:70%;
	margin-left:120px;
	margin-top:-80px;
	font-size:20px;
}
.box-from-list{
	display:block;
	margin-top: 10px;
	border-bottom: 1px solid #ccc;
}
.title-json {margin-left:10px}
.img-json {
	float: left;
	width: 120px;
	height: 120px;
	margin: 0 10px 10px;


}
.description-json,.title-json{
	padding-left:10px;
	overflow: hidden;
	display: -webkit-box;
	line-height: 1.3;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	width: 806px;
	float: right;
}
.img-json-block{
	max-width: 120px;
	max-height: 98px;
	float:left;
	text-indent:-999px;
}
#img-json-block{
	/*width:120px;*/
	float:left;
	text-indent:-999px;
}
.title-json1{
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	max-width: 80%;
	font-size: 16px;
	-webkit-line-clamp: 3;
	font-weight: 600;
	color: #337ab7;
}
.url-json {
	color: #337ab7;
	font-size: 15px;
}
.data-json {
	font-size: 13px;
	margin-top: -8px;
	color: #777;
	font-weight: 500;
}
#cts-menu {
	overflow: scroll;
	white-space: nowrap;
	/* height: 40px; */
}
#bloc_menu {
	display: block;
	height: 51px;
	width: 89%;
	overflow: hidden;
	/* margin: 0 auto; */
	margin-left: 10px;
	/*margin-top: calc(100% - 250px);*/
}
ul.active-menu > li.active > a {
	padding-bottom: 4px;
	border-bottom: 2px solid #297beb;
	background: none;
}
ul.active-menu > li > a {
	color: #297beb !important;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px 7px;
}
#tab-container{padding-top: calc(100vh - 455px);}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 7px;
	right: 10px;
	display: none;
	border-radius: 50%;
	width: 50px;
	z-index: 999;
	background-color: #fff;
	color: #8c8888;
	box-shadow: 0 0 10px #c7c6c6;
	height: 50px;
	padding: 10px 14px;
	font-size: 24px;
}
.sub_menu_open{padding-top:0 !important}

@media screen and (min-height: 1000px) {
	#search_cont {padding-top: calc(80vh - 500px) !important;}
	#tab-container {
		padding-top: calc(80vh - 665px);
		margin-top: 200px;
	}
}
@media screen and (min-width: 1000px) {
	#search_cont {padding-top: calc(80vh - 400px);}
	#tab-container {
		padding-top: calc(80vh - 665px);
		margin-top: 200px;
	}
}
@media screen and (min-height: 1280px) {
	#search_cont {padding-top: calc(100vh - 900px) !important;}
	#tab-container {
		padding-top: calc(80vh - 665px);
		margin-top: 100px;
	}
}