@charset "UTF-8";

@import url('/resources/font-awesome-4.3.0/css/font-awesome.min.css');

.motto-log h1 { font-weight: bold; }

.text-center p { font-size: 1.3em; }

#board .main-image {
	max-height: 260px;
	overflow: hidden;
	position: absolute;
	right: 35px;
	top: 40px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

.list-cap { width: 64px; }

.tour {
	list-style: none;
	padding: 0;
}

.big-cap {
	float: left;
	height: 48px;
	margin-right: 50px;
	margin-bottom: 30px;
}

.big-title {
	color: #268CC5;
	font-size: 24px;
	font-variant: small-caps;
	font-weight: bold;
}

.tour-item { margin-bottom: 150px; }

.item-title { margin-bottom: 50px; }

.item-text p {
	font-size: 1.75em;
	color: #777;
	text-align: justify;
}

.tour-item .item-screenshot,
.tour-item .item-motto {
	display: inline-block;
	vertical-align: top;
}

.tour-item .item-screenshot {
	width: 69%;
	overflow: hidden;
	border-radius: 5px;
	text-align: center;
}

.tour-item .item-screenshot img {
	width: auto;
	height: auto;
	max-height: 100%;
	max-width: 100%;
}

.tour-item .item-motto {
	width: 30%;
	padding: 0 4% 04%;
}
