@charset "utf-8";
@import '/resources/css/fonts/myriad/myriad.css';

html {
	height: 100%;
	width: 100%;
	overflow-y: visible;
}

body {
	font-family: Helvetica, Verdana, Arial sans-serif; }

*:focus { outline: 0; }

a {
	width: 100%;
	height: 100%;
}

.btn-group a { color: #939393 !important; }

.btn-group a:hover { color: #666 !important; }

/*--- Others measures ---*/
.wm_560 { width: 530px !important; }

.mtop_8 { margin-top: 8px; }

.mleft_60 { margin-left: 45px; }

/*--- Search form ---*/
#input-search { padding-right: 60px; }

#input-search .btn-lence {
	color: #a1d3ff;
	width: 30px;
	height: 30px;
}

.input-inside {
	position: absolute;
	border: none;
	background: none;
	outline: none;
	box-shadow: none;
	margin-top: 12px;
	right: 12px;
	font-size: 18px;
	color: #777;
	z-index: 200;
}

.input-inside:hover {
	background: none;
	box-shadow: none;
}

.input-inside:hover span { color: #428bca; }

.middle {
	margin: 0 auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

.m01 {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -319px;
}

.m02{
	position: relative;
	margin-bottom: -12px;
}

.logo a{
	display: inline-block;
	margin-bottom: 5px;
}
img.logo {
	width: 100px;
	margin-bottom: 20px;
	height: 104px;
}

form#search-form {
	width: 638px;
	margin: 0 auto;
	padding: 0;
}

form#search-form .input-group,
form#search-form input#input-search {
	width: 100%;
	border-radius: 0;
}

#logo {
	position: relative;
	float: left;
	width: 115px;
}
.logo img {
	width: 145px;
	margin-left: -62px;
	margin-top: 15px;
	height: 28px;
}
a.motto {
	display: table;
	margin: 0 auto;
	font-size: 1.4em;
	text-decoration: underline;
}

#motto-row p.motto a > span.bhr {
	display: block;
	width: 185px;
	margin: 0 auto;
	border-bottom: 2px solid #297beb;
	position: relative;
}


/* Info */
#search-row-slicked{
	padding-left: 2px;
	/*padding-right: 136px;*/
}

#search-row-slicked .logo-block {
	width: 45px;
	float: left;
	z-index: 1000;;
}
#search-row-slicked .logo-block,
#search-row-slicked .search-block,
#tools-block {
	position: relative;
}
#search-row-slicked .search-block {
	width: 52%;
	padding-left: 102px;
	/* padding-right: 175px; */
}

#search-row-slicked #btn-search {
	padding: 0 5px;
	font-size: 1.2em;
	color: #777;
	margin-top: 8px
}
#search-row-slicked #btn-search img{
	width: 25px;
	height: 25px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);

}
#search-row-slicked .input-inside {
	position: absolute;
	border: 0;
	background: 0;
	outline: 0;
	box-shadow: none;
	top: 12px;
	z-index: 2;
}

#search-row-slicked #input-search {
	height: 38px;
	padding-right: 41px;
	font-size: 17px;
	width: calc(100% - 56px);
}
form#slicked-search-form {
	padding-top: 11px;
}
#search-row-slicked .form-control {
	height: 38px;
	padding-right: 41px;
	font-size: 17px;
}

#search-row-slicked .info {
	background: #fff;
	width: 38px;
	max-height: 38px;
	padding: 2px;
	border: 1px solid #e4e4e4;
	color: #777;
	position: absolute;
	top: 18px;
	right: 20px;
	overflow: hidden;
	text-align: left;
	z-index: 100;
	border-radius: 1px;
	transition: all 0.6s ease 0s;
}

#search-row-slicked .info ul.nav>li>a {
	padding: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 2px;
	cursor: pointer;
}
#search-row-slicked .info a {
	color: #777;
}

#search-row-slicked .info:hover {
	right: 20px;
	width: 144px;
	max-height: 350px;
}

#search-row-slicked .info img{
	cursor: pointer;
	opacity: 0.6;
	margin-left: 100px;
	float:right;
	transform: rotate(180deg);
	margin-right:-32px;
}

#search-row-slicked .info .social-ft .share-square.ss-fb {
	background-position: -196px -109px;
}

#search-row-slicked .info .social-ft .share-square {
	width: 28px;
	height: 28px;
	margin: 0;
	transition: all .6s ease 0s;
}
#search-row-slicked .info a {
	color: #777;
}

#search-row-slicked .info p.cc {
	margin: 0;
	color: #777;
	text-align: center;
}

#search-row-slicked .info ul.nav { margin-bottom: 4px; }

#search-row-slicked .info ul.nav > li > a {
	padding: 10px;
	white-space: nowrap;
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 2px;
	cursor: pointer;
}

#search-row-slicked .info ul.nav > li > a > i { margin-right: 8px; }

#search-row-slicked .info .social-ft { text-align: center; }
#search-row-slicked .info.social-ft .share-square {
	width: 28px;
	height: 28px;
	margin: 0;
	transition: all 0.6s ease 0s;
}

#search-row-slicked .info .social-ft .share-square.ss-fb { background-position: -196px -109px; }
#search-row-slicked .info .social-ft .share-square.ss-fb:hover { background-position: -196px -137px; }

#search-row-slicked .info .social-ft .share-square.ss-tw { background-position: -56px -109px; }
#search-row-slicked .info .social-ft .share-square.ss-tw:hover { background-position: -56px -137px; }

#search-row-slicked .info .social-ft .share-square.ss-ytb { background-position: 0 -109px; }
#search-row-slicked .info .social-ft .share-square.ss-ytb:hover { background-position: 0 -137px;}


/*--- Info ---*/
#main-wrapper .info {
	background: #fff;
	width: 140px;
	padding: 2px;
	color: #777;
	position: absolute;
	top: 18px;
	right: 10px;
	/* overflow: hidden; */
	text-align: left;
	z-index: 101;
	border-radius: 1px;
	transition: all 0.6s ease 0s;
	/* border: 1px solid #eee; */
}
/*.btn-hide {
    overflow: hidden !important;
    visibility: hidden !important;
}*/
button#ifb_button {
	float: right;
	padding: 0;
	border: none;
	background: #fff;
	opacity: 1;
}
#ifb.open ul.nav {
	display: block;
	border: 1px solid #eaeaea;
	margin-top: 20px;
}
#ifb ul.nav {
	display: none;
}

#main-wrapper .info a { color: #777; }

#main-wrapper .show_info {
	cursor: pointer;
	opacity: 0.6;
	float: right;
	margin-top: -2px;
	width: 20px;
}

#main-wrapper .info p.cc {
	margin: 0;
	color: #777;
	text-align: center;
}

#main-wrapper .info ul.nav { padding-bottom: 4px; }

#main-wrapper .info ul.nav > li > a {
	padding: 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border-radius: 2px;
	cursor: pointer;
}

#main-wrapper .info ul.nav > li > a > i { margin-right: 8px; }

#main-wrapper .info .social-ft { text-align: center; }
#main-wrapper .info .social-ft .share-square {
	width: 28px;
	height: 28px;
	margin: 0;
	transition: all 0.6s ease 0s;
}

#main-wrapper .info .social-ft .share-square.ss-fb { background-position: -196px -109px; }
#main-wrapper .info .social-ft .share-square.ss-fb:hover { background-position: -196px -137px; }

#main-wrapper .info .social-ft .share-square.ss-tw { background-position: -56px -109px; }
#main-wrapper .info .social-ft .share-square.ss-tw:hover { background-position: -56px -137px; }

#main-wrapper .info .social-ft .share-square.ss-ytb { background-position: 0 -109px; }
#main-wrapper .info .social-ft .share-square.ss-ytb:hover { background-position: 0px -137px;}
/*--- end info ---*/



/*--- Footer && Themes ---*/
#sliders {
	position: relative;
	max-width: 1130px;
	margin: 0 auto;
	/*min-width: 1024px;*/
}

.slick-slider {
	position: relative;
	background: #fff;
	color: #666;
	padding-top: 4px;
}

#sliders_toggle{
	position: absolute;
	background: #000000;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	opacity: 0.6;
	right: 0;
	z-index: 99999;
	height: 33px;
	width: 33px;
	margin-left: 1px;
	text-align: center;
	line-height: 30px;
	float: right;
	top: -15px;
}
#sliders_trigger {
	background: #3e3d3d;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	opacity: 0.6;
	z-index: 99999;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	margin-left: 10px;
	display: none;
}
#sliders_trigger i {
	position: relative;
	top: 3px;
	font-weight: 100;
	font-size: 16px;
}
.sliders_toggle{
	height: 26px;
	width: 31px;
	margin-left: 1px;
	text-align: center;
	line-height: 27px;
	left: 0;
	top: 0;
	cursor: pointer;
	margin-top: 2px;
	z-index: 99999999999;
	position: absolute;
}
/*#sliders_toggle:hover{
	outline: 1px solid #428bca;
	cursor: pointer;
}*/
.sliders_toggle:hover{
	outline: 1px solid #428bca;
	cursor: pointer;
}
.mt-toggle.active {
	border-bottom: 2px solid #428bca;
	pointer-events: none;
	font-weight: bold;
}
.mt-toggle i {
	color: #428bca;
	font-weight: bold;
	margin-right: 5px;
}
.mt-toggle {
	position: relative;
	height: 27px;
	padding: 0 10px;
	margin-bottom: 3px;
	text-align: center;
	line-height: 30px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	color: #585757;
	display: inline-block;
}
.mt-toggle :hover{
	cursor: pointer;
	text-decoration:none;
	color:#428bca;
}
.mt-toggle a{color:#585757}

.mt-tabs {
	position: relative;
	display: inline-block;
	float: right;
	margin: 0;
	padding: 0;
	z-index: 20;
	opacity: 0;
	visibility: hidden;
	width: 0;
	overflow: hidden;
}

.tab-class {
	position: fixed;
	top: 52px;
	margin-bottom: -42px;
	text-align: center;
	margin: 0 auto;
	width: 100%;
	padding: 0 184px 7px 0;
	z-index: 9999;
	background: #fff;
}
.disabled{
	pointer-events: none;
	/* opacity: 0.6; */
	border-bottom: 2px solid #428bca;
	font-weight: bold;
}
.disabled a{
	pointer-events: none;
	color: gray !important;
}


#sliders_pin{
	position: absolute;
	color: #515151;
	font-size: 24px;
	height: 42px;
	width: 42px;
	text-align: center;
	line-height: 42px;
	right: 0;
	top: -41px;
}

#sliders_pin:hover{
	cursor: pointer;
}

.pined{
	color: #ed8d00;
}

.unpined{
	color: #515151;
}


ul.themes {
	display: block;
	width: calc(100% - 140px);
	margin: 0;
	padding: 0px 6px;
	text-align: left;
	max-height: 28px;
	overflow: hidden;
}

ul.themes > li {
	display: inline-block;
	list-style: none;
	text-align: center;
	line-height: 26px;
	margin-right: -4.3px;
	margin-left: -0.6px;
  position: relative;
}

ul.themes > li > a {
	display: block;
	margin: 0;
	padding: 2px 5px;
	color: #666;
	font-size: 15px;
	text-decoration: none;
	cursor: pointer;
	border-bottom: 1px solid #c5c0c0;
	height: 28px;
	border-top: 1px solid #fff;
  position: absolute;
}
ul.themes > li:after {
  display: block;
  content: attr(title);
  font-weight: bold;
  padding: 2px 6px;
  font-size: 15px;
  overflow: hidden;
  visibility: hidden;
}
ul.themes > li > a:hover{
	background: #fbfbfb;
	color:black;
	text-decoration:underline;
	border:1px solid #c5c0c0;
	border-bottom:none;

}

ul.themes > li.active  > a {
	background: #fff;
	font-weight: bold;
	color: #585757;
	text-decoration: underline;
	border: 1px solid #c5c0c0;
	border-bottom: none;
}
#show_ev {
	width: calc(100% - 277px);
	float: left;
	/*display: inline-block;*/
	height: 28px;
	margin: 0;
	margin-top: -28px;
	position: relative;
	margin-left: 277px;
	z-index: 1014;
	background-color: #fff;
	padding: 5px 10px;
	border-bottom: 1px solid #c5c0c0;
}
.hide_ev{
	width:70px !important;
	float:right !important;
	display:none !important;

}
#hide_ev {
	width: 215px;
	float: right;
	/*display: inline-block;*/
	height: 28px;
	margin: 0;
	padding: 0;
	margin-top: -28px;
	position: relative;
	padding: 5px 10px;
	border-bottom: 1px solid #c5c0c0;
	display: none;
}
#show_ev a {
	color: #666;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	margin-left: 10px;
	/* margin-right: 10px; */
}
#hide_ev a {
	color: #666;
	font-size: 15px;
	cursor: pointer;
	text-decoration: none;
	padding-left: 70px;
}
.visible_hide_ev{display:inline-block !important}
.show_ev_hide{display: none !important;}

#space_free {
	width: calc(100% - 47px);
	height: 2px;
	background-color: #fff;
	margin-left: 47px;
}
/* Slick carousel */
.slick-slider .tab-content {
	height: 140px;
	overflow: hidden;
}

.slick-slider {
	margin: 0;
	overflow: hidden;
}

.slick-slider .slc {
	position: relative;
	display: inline-block;
	margin-right: 15px;
}

.slick-slider .slick-slide > div {
	display: block;
	vertical-align: top;
	position: relative;
}

.slick-slider a.plitka {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	width: 140px;
	height: 140px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	text-align: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.slick-slider a.plitka:hover,
.slick-slider a.plitka:active,
.slick-slider a.plitka:focus { text-decoration: none; }

.slick-slider a.plitka > img {
	display: unset;
	text-indent: -999px;
	width: 100%;
	height: 100%;
}
.slick-slider a.plitka .snuggle {
	display: block;
	position: absolute;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 82%, transparent 100%);
	max-height: 140px;
	padding-top: 1px;
	top: 81px;
	left: 0;
	right: 0;
	/*transition: top 0.9s ease, bottom 0.9s ease;
    -webkit-transition: top 0.9s ease, bottom 0.9s ease;*/
}

.slick-slider a.plitka .snuggle > h6 {
	max-height: 96px;
	margin: 0;
	padding: 0 4px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.1;
	overflow: hidden;
}
.date_initialize {
	font-size: 13px;
	font-weight: 400;
	margin-left: 5px;
}
.slick-slider a.plitka .domain,
.slick-slider a.plitka .description {
	padding: 0 4px;
	overflow: hidden;
}

.slick-slider a.plitka .description {
	margin: 0;
	font-size: 12px;
}

.slick-slider a.plitka .domain {
	display: block;
	height: 18px;
	margin: 1px 0;
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.5px;
	line-height: 18px;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap;
	overflow: hidden;
	opacity: 0.9;
}

.slick .slick-disabled { display: none !important; }

.slick .slick-arrow {
	background: #f2f2f2;
	width: 35px;
	height: 140px;
	padding: 0;
	border: 0 none;
	font-size: 16px;
	font-weight: bold;
	z-index: 9;
	cursor: pointer;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.slick .slick-arrow:hover,
.slick .slick-arrow:focus,
.slick .slick-arrow:active {
	background: #f2f2f2;
	text-decoration: none;
	opacity: 1;
}

.slick .slick-arrow > i.glyphicon {
	display: block;
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 13px;
	position: absolute;
	top: 45%;
	left: 10px;
}

.slick .slick-arrow.slick-prev { left: 0; }
.slick .slick-arrow.slick-next { right: 0; }
.slick .slick-arrow.slick-next,
.slick .slick-arrow.slick-prev  {top: 74px;}
.slick-prev::before,
.slick-next::before { content: '' !important; }
/* End slick carousel. */

#sliders{
	/*background: #eee;*/
	opacity: 0;
}

#sliders .tab-content.down > .tab-pane{
	/*height: 140px;*/
}

.inv{
	visibility: hidden;
	opacity: 0;
	height: 0;
}


/*--- Important section ---*/
.nb { margin-top: 20px !important; }

#ats-block { display: inline-flex; }

#ats-block li span { width: initial; }

.ats-right-block {
	display: inline-block;
	text-align: right;
}

#cloned-sliders{
	background-color: #eee;
	margin: 0 auto;
	width: 100%;
}

#cloned-sliders .slick-slider {
	margin-bottom: 0;
}

#cloned-sliders h2{
	color: #297beb;
	text-transform: capitalize;
}

#cloned-sliders .slick {
	font-family: Helvetica, Verdana, Arial sans-serif;
	max-height: 160px;
	overflow-y: hidden;
}

#cloned-sliders .slik .slc {
	position: relative;
	display: inline-block;
}
#cloned-sliders .slik .slc {
	position: relative;
	display: inline-block;
}

#cloned-sliders a.plitka {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	width: 160px;
	height: 160px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	text-align: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

#cloned-sliders a.plitka > img {
	display: unset;
	width: 100%;
	height: 100%;
}

#cloned-sliders .snuggle {
	display: block;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 82%, transparent 100%);
	max-height: 160px;
	padding: 3px 0;
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
}

#cloned-sliders a.plitka .snuggle > h6 {
	max-height: 122px;
	margin: 0;
	padding: 0 4px;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.16;
	overflow: hidden;
}

#cloned-sliders a.plitka .description {
	margin: 0;
	font-size: 12px;
}

#cloned-sliders .slc{
	position: relative;
	float: left;
	height: 100%;
	min-height: 1px;
}

.wrapper{
	padding-left: 80px;
}
#main_sidebar {
	width: 164px;
	overflow-x: hidden;
	height: 85vh;
	margin: 0;
	position: fixed;
	background: #fff;
	z-index: 99999;
	padding: 0 5px 76px 22px;
	overflow-y: hidden;
	top: 70px;
	margin-bottom: 96px;
	display:none;
}
#list_toggle {
	/*float: right;*/
	top: 5px;
	right: -5px;
  display: inline-block;
  width: 0;
}
#list_toggle_btn {
	border: none;
	background: none;
	margin-left: 90px;
	outline: none;
	background: transparent;
	box-shadow: none;
}
#list_toggle ul {
	top: 21px;
	left: -21px;
	min-width: 145px;
	right: 32px;
}
#list_toggle ul>li {
	padding: 5px 10px;
	cursor: pointer;
}
#list_toggle ul>li:hover{
	background: #eaeaea;
}
#list_toggle ul>li.active{
	background: #eaeaea;
}
.item_name {
	display: block;
	color: #428bca;
	font-weight: bold;
	/* font-size: 16px; */
	padding-bottom: 3px;
	border-bottom: 1px solid #dad9d9;
	width: 125px;
}
.sd_events,
.sd_cats{
	padding: 0;
	color: #585757;
	width: 100%;
}
.sd_cats {
	height: 338px;
	overflow: hidden;
	/*position: absolute;*/
	margin-bottom: 20px;
	margin-top: -28px;
}
.sd_events {
	height: 150px;
	overflow: hidden;
	margin-bottom: 25px;
}
.all_cats{height: 100% !important}
.events_item,
.sd_cats li{
	list-style: none;
	padding-top: 8px;
}
.sd_cats img {
	max-width: 14px;
	max-height: 14px;
	margin-right: 10px;
}
.events_item a,
.sd_cats li a{
	color: #555;
	width: 100%;
	overflow: hidden;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 13px;
}
.events_item a:visited,
.sd_cats li a{text-transform: capitalize;}
.more_sidebar{
	display: block;
	padding-bottom: 15px;
	margin-top: -15px;
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	padding-left: 24px;
}
#list-toggle{
	display: block;
	float: right;
	top: -20px;
	opacity: .8;
}
.events_item a:hover,
.sd_cats li a:hover{text-decoration:none;}
.sl-bottom { height: calc(100vh - 174px); }

.sl-top {
	height: 60px;
	position: fixed;
	margin-bottom: 60px;
	background: #fff;
	z-index: 999999;
	width: 100%;
}

footer {
	/* height: 174px;*/
	width: 100%;
	z-index: 100;
	position: absolute;
}

footer .lfbadge {
	position: relative;
	float: left;
	width: 44px;
	line-height: 142px;
	text-align: center;
	margin-left: 0;
	height: 100%;;
}

footer .lfbadge a {
	width: 87%;
	height: 101%;
	display: inline-block;
	vertical-align: middle;
	margin-left: 2px;
	margin-top: 4px;
}

footer .lfbadge a:hover {
	outline: 1px solid #428bca;
	cursor: pointer;
}

footer .lfbadge img {
	height: 28px;
	width: 28px;
	text-indent: -999px;
	margin-left: -1px;
}

footer #slick_tab { padding-left: 1px; }

.slick_hide{width:750px !important;}
/*--- Follow ---*/
.pager li {
	position: relative;
	display: inline-block;
}

.pager li > a:hover { cursor: pointer; }

.pager li > a,
.pager li > span {
	border: none !important;
	border-radius: 0 !important;;
	margin: 3px;
	padding: 3px 5px;
	width: initial;
	font-size: 14px;
}

.pager li > a:hover,
.pager li > a:focus {
	text-decoration: none;
	background-color: #eee;
	outline: 1px solid #ddd;
}

#btn-social:hover,
#btn-social:focus {
	background-color: inherit;
	outline: none;
}

.separator { color: #297beb; }

.img-wrapper { padding: 5px 0 5px 0; }

.badge-blk {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #d2d2d2;
	cursor: pointer;
	display: table;
	min-height: 50px;
	min-width: 226px;
	margin: 0 auto;
	position: relative;
	text-align: left;
}

#sbf-modal-block { position: relative; }

#sbf-modal-logo {
	display: inline-block;
	vertical-align: middle;
}

#sbf-modal-body {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 10px;
	color: #666;
	font-size: 14px;
}

#sbf-modal-close {
	color: #999;
	cursor: pointer;
	display: block;
	font-size: 12px;
	position: absolute;
	right: 4px;
	top: 4px;
}

#sbf-modal-close:hover { color: #3d3d3d; }

/*--- Dialog home page ---*/
.modal-logo {
	text-align: center;
	margin-bottom: 10px;
}

.modal-title {
	text-align: center;
	color: #297beb;
}

.modal-body {
	color: #444;
	text-align: center;
}

.modal-motto {
	color: #444;
	text-align: center;
	margin-bottom: 20px;
}

.modal-body ol,
.modal-body ul {
	text-align: left;
	color: #444;
}

#autosuggest .autocomplete {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
	top: 46px;
	left: 0;
	min-width: 200px;
	width: 100%;
	overflow-x: hidden;
	z-index: 200;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#autosuggest .autocomplete li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
	text-align: left;
}

#autosuggest .autocomplete li:hover {
	cursor: pointer;
	color: #555;
	background-color: #a6c9e2;
}

.selected {
	color: #555;
	background-color: #a6c9e2;
}

.grob {
	opacity: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/*-- Social links ---*/
#social-buttons {
	position: absolute;
	display: block;
	width: 100px;
	top: -30px;
	left: -50px;

	-webkit-transform: scale(1) translateY(-60px);
	-moz-transform: scale(1) translateY(-60px);
	-o-transform: scale(1) translateY(-60px);
	transform: scale(1) translateY(-60px);

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	opacity: 0;
}

#social-links .social {
	display: block;
	width: 100px;
	height: 45px;
	position: absolute;
	top: 15px;
	left: auto;
	right: 0;
	text-align: center;
	transform-origin: 50% 0%;

	-webkit-transform: scale(0) translateY(-150px);
	-moz-transform: scale(0) translateY(-150px);
	-o-transform: scale(0) translateY(-150px);
	transform: scale(0) translateY(-150px);

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

	opacity:0;
}

#social-links .social.opened {
	-webkit-transform: scale(1) translateY(-60px);
	-moz-transform: scale(1) translateY(-60px);
	-o-transform: scale(1) translateY(-60px);
	transform: scale(1) translateY(-60px);

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;

	opacity:1;
}

#social-links .social .fa {
	height: 1em;
	width: 1em;
	font-size: 2em;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	-webkit-backface-visibility: hidden;
}

#social-links .social .fa:before {
	color: white;
	-webkit-transform: translate3D(0, -50%, 0);
	-ms-transform: translate3D(0, -50%, 0);
	transform: translate3D(0, -50%, 0);
	z-index: 2;
}

#social-links .social .fa:after {
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	top: 50%;
	width: 100%;
}

#social-links .social .fa:hover:after {
	-webkit-transform: translate3D(0, -70%, 0);
	-ms-transform: translate3D(0, -70%, 0);
	transform: translate3D(0, -70%, 0);
}

#social-links .social .fa:hover:before {
	-webkit-transform: translate3D(0, -250%, 0);
	-ms-transform: translate3D(0, -250%, 0);
	transform: translate3D(0, -250%, 0);
}

#social-links .social .fa:after {
	padding-bottom: 25%;
	padding-top: 300%;
	top: 0;
}

#social-links .social .fa:before,
.socialPlugin .social .fa:after {
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	top: 50%;
	width: 100%;
}

#social-links .social:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 1px auto;
	height: 0;
	width: 0;
	border-left: 10px solid rgba(0, 0, 0, 0);
	border-right: 10px solid rgba(0, 0, 0, 0);
	border-top: 10px solid #becade;
}

#social-links .social .fa-twitter:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #00acee), color-stop(75%, #fff));
	background-image: -webkit-linear-gradient(#00acee 25%, #fff 75%);
	background-image: linear-gradient(#00acee 25%, #fff 75%);
	content: "\f099";
	color: #00acee;
}

#social-links .social .fa-facebook:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #3b5998), color-stop(75%, #fff));
	background-image: -webkit-linear-gradient(#3b5998 25%, #fff 75%);
	background-image: linear-gradient(#3b5998 25%, #fff 75%);
	content: "\f09a";
	color: #3b5998;
}
#social-links .social .fa-ytb:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #E62117), color-stop(75%, #fff));
	background-image: -webkit-linear-gradient(#E62117 25%, #fff 75%);
	background-image: linear-gradient(#E62117 25%, #fff 75%);
	content: "\f16a";
	color: #E62117;
}

/* Bootsrtap Tooltip */
.tooltip{
	min-width: 10px;
}
.tooltip > .tooltip-inner {
	background-color: #F7F7F7;
	padding: 5px 10px;
	color: #777;
	border-radius: 5px;
	border: 2px solid #a6c9e2;
	font: normal 14px Verdana, 'Helvetica Neue', Sans-Serif;
	box-shadow: 0 0 3px #a6c9e2;
	text-align: justify;
	max-width: 360px !important;
	width: auto;
	font-weight: bold;
}

.tooltip.top > .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #a6c9e2
}

.tooltip.left > .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #a6c9e2;
}

.tooltip.bottom > .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #a6c9e2;
}

.tooltip.right > .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #a6c9e2;
}

.event-motto{
	margin: 15px 0;
	font-size: 16px;
	font-family: "MyriadPro", sans-serif;
	max-width: 638px;
	font-style: italic;
}

.event-motto strong{
	font-weight: 600;
	color: #428bca;
}

#slick_ev_tab{
	display: none;
}

@media (min-width: 768px) {
	.modal-dialog { width: 520px !important; }
}
@media(min-width: 2200px){
	#search-row-slicked{
		width: 56%;
		margin: 0 auto;
	}
}

#moreMenu.dropdown {
	position: absolute;
	left: auto;
	top: 11px;
	right: -57px;
	z-index: 5000;
	bottom: auto;
	height: 38px;
	width: 57px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	padding: 0 10px 0 10px;
	border-left: none;
	border-top-right-radius: 6px;
	/* background: #F9F9F9; */
	background: linear-gradient(#fff, #f5f5f5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#moreMenu.dropdown > button#moreMenuButton {
	background: transparent;
	width: 58px;
	height: 38px;
	padding: 0;
	border: none;
	margin-left: -11px;
	color: #555;
	border-top-right-radius: 6px;
	/* overflow: hidden; */
	border-bottom-right-radius: 6px;
	outline: none;
}

.icon-inert {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 18px;
  margin-bottom: 0;
}

#moreMenu.dropdown > button#moreMenuButton .icon-inert {
	margin-bottom: 2px;
}
#moreMenuButton:hover,
#moreMenuButton:active,
#moreMenuButton:focus{
	opacity:0.7;
}
#moreMenu.dropdown > button#moreMenuButton:hover > i.icon-inert,
#moreMenu.dropdown > button#moreMenuButton:focus > i.icon-inert,
#moreMenu.dropdown > button#moreMenuButton:active > i.icon-inert {
	background-position: -26px center;
}
#moreMenu.dropdown>.dropdown-menu {
	width: 550px;
	margin: 12px 0 0;
	left: auto;
	right: auto;
}
#moreMenu.dropdown>button#moreMenuButton>i.icon-inert {
	display: block;
	background: url('/resources/img/nav/menu-alt.png') no-repeat scroll 0 center transparent;
	width: 24px;
	height: 21px;
	margin: 7px;
}
.open > .dropdown-menu {
	display: block;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
#moreMenu.dropdown>.dropdown-menu>li>a>img {
  max-width: 16px;
  max-height: 16px;
  margin: 0 7px 0 0;
  position: relative;
  top: -2px;
}
#moreMenu.dropdown>.dropdown-menu>img.arrow {
	position: absolute;
	left: auto;
	top: -13px;
	right: auto;
	bottom: auto;
}
#moreMenu.dropdown>.dropdown-menu>li>a {
  clear: none;
  float: left;
  width: 182px;
  padding: 4px 10px 4px 15px;
  color: #838383;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}
/*dinamicescaia smena nadpisi pod straku zaprosa*/

.quote {
	color: rgba(0,0,0,.1);
	text-align: center;
	margin-bottom: 30px;
}
#fade-quote-carousel.carousel {
	padding-bottom: 32px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
	opacity: 0;
	-webkit-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
	opacity: 1;
	-webkit-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
	bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
	background-color: #eee;
	border: none;
}
#fade-quote-carousel blockquote {
	text-align: center;
	border: none;
	font-size:13px;
	padding:0;
}
#fade-quote-carousel .profile-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 100px;
}
.event-name a{
	text-decoration:underline;
	color:#333;
}
.event-name a[href^="/"]{
	color:#428bca;
	text-decoration: none;
}

#elements span {
	display: none;
	font-size: 13px;
}

#moreMenu1.dropdown {
	position: absolute;
	left: auto;
	/* top: 0; */
	right: -57px;
	z-index: 5000;
	bottom: auto;
	height: 46px;
	width: 57px;
	border: 1px solid #ccc;
	border-bottom-right-radius: 6px;
	padding: 0 10px 0 10px;
	border-left: none;
	border-top-right-radius: 6px;
	/* background: #F9F9F9; */
	background: linear-gradient(#fff, #f5f5f5);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

#moreMenu1.dropdown > button#moreMenuButton1 {
	background: transparent;
	width: 58px;
	height: 43px;
	padding: 0px;
	border: none;
	margin-left: -11px;
	color: #555;
	border-top-right-radius: 6px;
	/* overflow: hidden; */
	border-bottom-right-radius: 6px;
	outline: none;
}

#moreMenuButton1:hover,
#moreMenuButton1:active,
#moreMenuButton1:focus{
	opacity:0.7;
}
#moreMenu1.dropdown > button#moreMenuButton1:hover > i.icon-inert,
#moreMenu1.dropdown > button#moreMenuButton1:focus > i.icon-inert,
#moreMenu1.dropdown > button#moreMenuButton1:active > i.icon-inert {
	background-position: -26px center;
}
#moreMenu1.dropdown>.dropdown-menu {
	width: 550px;
	margin: 12px 0 0;
	left: auto;
	right: auto
}

#moreMenu1.dropdown>button#moreMenuButton1>i.icon-inert {
	display: block;
	background: url('/resources/img/nav/menu-alt.png') no-repeat scroll 0 center transparent;
	width: 24px;
	height: 21px;
	margin: 7px
}
#moreMenu1.dropdown>.dropdown-menu>li>a>img {
  max-width: 16px;
  max-height: 16px;
  margin: 0 7px 0 0;
  position: relative;
  top: -2px;
}

#moreMenu1.dropdown>.dropdown-menu>img.arrow {
	position: absolute;
	left: auto;
	top: -13px;
	right: auto;
	bottom: auto
}

#moreMenu1.dropdown>.dropdown-menu>li>a {
  clear: none;
  float: left;
  width: 182px;
  padding: 4px 10px 4px 15px;
  color: #838383;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 3px;
}
.category_name{
	display: none;
	font-size: 18px;
	color: #585757;
	position: relative;
	left: 37px;
	margin-top: -16px;
	text-transform: capitalize;
}
.lfopen  .tooltip > .tooltip-inner,
.lfopen .tooltip.right > .tooltip-arrow{
	display:none;
}
.date{
	font-size: 13px;
	font-weight: 400;
	margin-left: 5px;
}
.tab_slider {
	display: none;
	width: 46px;
	float: left;
	height: 137px;
	margin-left: -46px;
	margin-top: 4px;
	cursor: pointer;
	border-top: 1px solid #428bca;
	border-right: none;
	border-left: 1px solid #428bca;
}
.tab_slider i.fa {
	font-size: 27px;
	padding: 8px 0 20px 9px;
	color: #777;
	width: 100%;
	height: 45px;
	margin-bottom: 0.5px;
	border-bottom: 1px solid #428bca;
}
.tab_slider .fa.fa-line-chart {
	font-size: 24px;
}
.tab_slider .active i.fa{color: #428bca;}
.snippet_title a {
	display: block;
	vertical-align: top;
	position: relative;
	width: 140px;
	text-align: center;
	max-height: 33px;
	justify-content: center;
	/* padding: 0 5px; */
	color: #000;
	font-size: 12px;
	/* font-weight: 200; */
	bottom: 0;
	overflow: hidden;
	text-transform: capitalize;
	margin-top: 5px;
}
.pin_position{
	font-size: 18px;
	width: 35px;
	z-index: 9999;
	height: 35px;
	background-color: #eaeaea;
	cursor: pointer;
	border-radius: 50%;
	 display: none;
}
.pin_position .fa {
	margin-left: 12px;
	margin-top: 9px;
}
.unpin{color: #0084f7;}
.pin{color: #777;}
/* Подсказки под строкой запроса с открытом слайдером */

#slicked-autosuggest .autocomplete {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px;
	top: 49px;
	left: 0;
	margin-left: 102px;
	min-width: 200px;
	width: calc(100% - 102px);
	overflow-x: hidden;
	z-index: 200;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
	box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#slicked-autosuggest .autocomplete li {
	display: list-item;
	text-align: -webkit-match-parent;
	list-style: none;
	text-align: left;
}

#slicked-autosuggest .autocomplete li:hover {
	cursor: pointer;
	color: #555;
	background-color: #a6c9e2;
}
.preloader-container, .preloader-container_2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around; }

.preloader-item {
	width: 280px;
	height: 100px;
	margin: 67px 20px;
	/* background: #f6f9ff; */
	border-radius: 3px;
	position: absolute;
	z-index: 999;
}
.moreMenu_title {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
	padding: 5px;
	color: #777;
}
.loader03 {
	width: 36px;
	height: 36px;
	border: 5px solid transparent;
	border-top-color: #0052ec;
	border-bottom-color: #0052ec;
	border-radius: 50%;
	position: relative;
	animation: loader-rotate 1s linear infinite;
	top: 60%;
	margin: -28px auto 0; }
#main_sidebar::-webkit-scrollbar {
	width: 12px;
}

#main_sidebar::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 5px #868585;*/

}

#main_sidebar::-webkit-scrollbar-thumb {

	-webkit-box-shadow: inset 0 0 12px rgba(103, 100, 100, 0.7);
}
@keyframes loader-rotate {
	0% {
		transform: rotate(0deg); }
	100% {
		transform: rotate(360deg); } }


@media (max-width: 1320px) {
	#moreMenu1.dropdown>.dropdown-menu {
		right: -150px !important;
	}
	#moreMenu1.dropdown>.dropdown-menu>img.arrow {
		right: 166px !important;
	}
}

@media (max-height: 910px) {
	#moreMenu1.dropdown>.dropdown-menu {
		width: 730px;
	}
}