@charset "utf-8";

.center_container {
  max-width: 100% !important;
}

#searchView {
  display: inline-block;
  float: left;
  max-width: 505px;
  margin-right: 50px;
}

#searchImages {
  display: inline-block;
  float: left;
  width: 32%;
  max-width: 32%;
}

#search-text {
  max-width: 500px;
  margin-right: 50px;
  margin-left: 150px;
  float: left;
}

#search-images {
  max-width: 440px;
  float: left;
}
#search-images .faves-list li:nth-child(1n+5) {
  margin-top: 20px !important;
}
#search-images .paginator{
  display: none;
}

#rb-faves {
  padding: 5px;
}

#mm-faves .faves-list li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.panel-heading h5 {
  float: left;
  line-height: 10px;
}

.paginator {
  clear: both;
}

/* Articles | Snippets */
.art {
  margin-bottom: 30px;
}

.art .pub-link {
  color: green;
}

.art .img {
  float: left;
  margin-right: 10px;
  height: 65px;
  width: 65px;
}

.art .img img {
  height: 100%;
  width: 100%;
}


/* MEDIA */

@media screen and (max-device-width: 368px) and (max-width: 368px){
  #mm-faves .faves-list li:nth-child(1n+1) {
    margin-bottom: 0;
    margin-right: 5px !important;
    margin-top: 5px !important;
  }
  #search-images .faves-list li:nth-child(1n+5) {
    margin-top: 0;
  }
}

@media screen and (min-device-width: 320px) and (min-width: 320px)
and (max-device-width: 600px) and (max-width: 600px){
  #search-text {
    margin-left: 8px;
  }
  #search-images {
    margin-left: 5px;
  }
}

@media screen and (min-device-width: 600px) and (min-width: 600px)
and (max-device-width: 960px) and (max-width: 960px){

  #search-form {
    position: relative;
    width: 500px !important;
    max-width: 500px !important;
  }

  #search-text {
    margin-left: 70px;
  }

  #search-images {
    max-width: 410px !important;
    margin-left: 70px;
  }

}


@media (min-width: 768px){
  .col-sm-10 {
    width: 100%;
  }

  #mm-faves .faves-block {
    margin-bottom: 20px;
  }

  #mm-faves .faves-list li:nth-child(1n+1) {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (min-width: 960px){
  #search-text {
    margin-left: 150px;
  }

  #search-images {
    max-width: 440px !important;
    margin-left: 0;
  }
}

@media(max-width: 1024px){
  #search-images .paginator{
    display: block;
  }

  .center_container {
    width: 100%;
  }

  .paginator ul li {
    width: 18px;
    height: 18px;
  }

}