@charset 'utf-8';

#logo {
  width: 160px;
}

#middle {
  padding-top: 0px !important;
  margin-top: 0px;
}

.container-fluid > ul > li > a {
  padding: 2px 4px 2px 4px;
  font-size: 13px !important;
  background-color: transparent;
}

.container-fluid > ul > li > a:visited {
  background-color: transparent;
}

#anytime a {
  text-align: left;
  color: #444;
}

#center-wrapper {
  margin-left: 170px;
  padding: 0 20px 0 5px !important;
}

.nav > li > a {
  padding: 10px 15px !important;
}

#right-wrapper{
  width: 505px;
  max-width: 505px;
  margin-left: 60px;
}

#right-wrapper .content{
  position: absolute;
  width: 505px;
}

#jmb-issue {
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 2px 12px #DDEBF9
}

#jmb-issue .panel-title{
  background-color: #FCFCFC;
  padding: 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#jmb-issue .panel-title .fa {
  color: #ddd;
}
#jmb-issue .panel .panel-title .text {
  margin-left: 8px;
  color: #949799;
}

#jmb-issue .panel-footer{
  background-color: #FCFCFC;
  line-height: 30px;
  padding: 0 10px 0 0;
}

#jmb-issue #btn-comments{
  border-left: none;
  border-bottom: none;
  border-top: none;
  background-color: #f5f5f5;
  color: #428bca;
}
#jmb-issue #btn-comments .badge{
  background-color: #949494;
}

#jmb-issue #btn-comments:hover{
  background-color: #eeeeee;
}

#jmb-issue .buttom-block-responsible{
  color: #969696;
  margin-left: 5px;
}

#jmb-comments .list-group-item {
  margin-bottom: 10px;
  padding: 0;
}

#jmb-comments .list-group-item .left-container{
  width: 62px;
  display: table-cell;
  background-color: #FCFCFC;
  border-right: 1px solid #ddd;
  text-align: center;
  vertical-align: top;
  padding: 10px 5px;
}

#jmb-comments .list-group-item .left-container .fa{
  font-size: 40px;
  color: #b2b2b2;
}

#jmb-comments .list-group-item .right-container{
  display: table-cell;
  padding: 5px 10px;
  width: 87%;
}

#jmb-comments .list-group-item .right-container .comment-header-item {
  text-align: right;
  color: #428bca;
}

#jmb-comments .list-group-item .right-container
.comment-header-item .edit:hover {
  cursor: pointer;
  color: #3d3d3d;
}

#jmb-comments .list-group-item .right-container .comment-body-item {
	width: 368px;
	overflow: hidden;
	white-space: pre-wrap;
}

.comment-footer-item {
	text-align: right;
	margin-top: 10px;
}

#comments-panel {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
#comments-title {
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #428bca;
  line-height: 28px;
  padding: 10px 15px 0;
}
#btn-comments{}

#comments-form-panel{
  margin-top: 10px;
  border: 1px solid #ddd;
  padding: 10px;
}

#comments-form-panel .panel-title{
  margin-bottom: 20px;
}

#comment-form #inputUserName{
  max-width: 50%;
}

#comment-form #btn-post-comment{
  max-width: 25%;
}

#btn-new-comment {
  display: none;
}

#new-comment-form-wrapper {
  box-shadow: 0 2px 6px #DADADA;
}

#new-comment-form-wrapper .panel-title {
  background-color: #FCFCFC;
  padding: 10px 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content {
  bottom: 0;
  top: 41px;
}

#form-title{
  margin-top: 30px;
}

#top-block{
  text-align: right;
  margin-bottom: 10px;
  color: #969696;
}

#middle-block{
  overflow-y: auto;
  max-height: 108px;
  word-break: break-all;
}

#issues-list .item-subject h4{
  color: #555;
}

#issues-list  .item-author{
  color: #555;
}

#issues-list .issue-group{
  min-height: 46px;
}

#issues-list .issue-item-header-group{
  height: 26px;
}

#issues-list .issue-item-center-group{
  height: 26px;
}

#issues-list .issue-item-footer-group{
  height: 26px;
}

#issues-list .group-img{
  width: 26px;
  float: left;
  margin-right: 10px;
  font-size: 18px;
  color: #ddd;
  height: 32px;
  line-height: 32px;
}

#issues-list .issue-title{
  position: relative;
  float: left;
  font-size: 18px;
  width: 55%;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#issues-list .issue-title a,
#issues-list .issue-title i{
  color: #428bca;
}

#issues-list .issue-title a:hover{
  color: #428bca;
}

#issues-list .issue-body{
  height: 40px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#issues-list .issue-name{
  position: relative;
  float: right;
  width: 35%;
  font-weight: bolder;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
}

#issues-list .issue-status {
  width: 30%;
  float: left;
}

#issues-list .issue-date {
  float: right;
  text-align: right;
}

#issues-list .reporter-img {
  color: #DDD;
  margin-right: 5px;
  font-size: 16px;
}
#issues-list .reporter-name { color: #7a7a7a; }
.new { color: red; }
.in_progress { color: #ff5b00; }
.resolved { color:  green; }
.feedback { color: #8846ff; }
.closed { color: #969696; }
.rejected { color: #2c2c2c; }
.lnkc { color: #428bca; }
.link { color: #428bca; }
.link:hover{
  text-decoration: underline;
  cursor: pointer;
}

#vfh { display: none; }

#issues-list li:not(.active):hover {
  background-color: #F5F7FA;
}

#issues-list .active{
  background-color: #F5F7FA;
  border-color: #DDD;
}

.item-datestart-text {
  color: #7a7a7a;
}

#center-wrapper .nav-tabs {
  border-bottom: 0px !important;
}

.list-group-item:first-child {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

#rsads-wrapper .popover {
  top: 40px !important;
  right: 0px !important;
  left: 550px !important;
  max-width: 420px;
  left: auto !important;
}

#rsads-wrapper .popover.bottom {
  margin-top: -30px;
}

#issues-list .issue-title a {
  font-size: 16px;
  font-weight: bolder;
}

.col-sm-10 {
  width: 88% !important;
}

.minfo {
  font-size: 15px;
}

#form-comment-container {
  max-width: 550px;
}

#inputComment {
  max-width: 451px;
}

.message {
  color: green;
}

#header .navbar-collapse {
  padding-right: 11px;
}

.issue-item-center-group .left {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 80%;
}

.report-name {
  width: auto;
}

.lnkAll { color: #555 !important; }
.lnkNew { color: #FF0000 !important; }
.lnkProgress { color: #FF5B00 !important; }
.lnkResolved { color: #008000 !important; }
