@charset "utf-8";

.center_container {
  margin-left: 170px;
  min-width: 1080px;
  overflow: hidden;
}

#lnav-wrapper { padding-left: 15px; }

#searchView {
  display: inline-block;
  float: left;
  max-width: 505px;
}

.filter-text {
  width: 505px;
  min-height: 1px;
  float: left;
}

#searchImages {
  display: inline-block;
  float: left;
  width: 32%;
  max-width: 32%;
}

.filter-images {
  width: 505px;
  float: left;
}

#search-images {
  position: relative;
  width: 505px;
  min-height: 1px;
  margin-left: 70px;
  float: left;
}

#search-images .popover {
  display: block;
  border: none;
  box-shadow: none;
  top: 0 !important;
  left: 0 !important;
  min-height: 200px;
  min-width: 505px;
}

#search-images .popover-content {
  margin: 0;
  padding: 0;
}

#search-images .popover-content .panel-heading h3 {
  display: inline-block;
  margin: 6px 0 0 0;
  font-size: 1.2em;
  height: 1.2em;
  overflow: hidden;
}

#lang-popover-wrapper .popover-content { padding: 5px; }

#search-text section article h3.art-title {
  font-size: 18px;
  color: blue;
  margin-bottom: 0;
  max-height: 42px;
  overflow: hidden;
  line-height: 22px;
  font-weight: normal;
}

#search-text section article p {
  max-height: 42px;
  overflow: hidden;
}

#search-text section article .secFooter {
  max-height: 18px;
  overflow: hidden;
}

#search-text section .art-descr {
  max-height: 38px;
  overflow: hidden;
}

#search-text .delimiter {
  border-top: 1px solid #ccc;
  margin-bottom: 45px;
}

#related-title {
  margin-bottom: 10px;
  font-size: 1.1em;
}

#rb-faves { padding: 5px; }

.panel-heading h5 {
  float: left;
  line-height: 10px;
}

.paginator { clear: both; }

/* Articles | Snippets */
.art {
  margin-bottom: 35px;
  min-height: 96px;
}

.art .pub-link { color: green; }

.art .img {
  float: left;
  margin-right: 10px;
  margin-top: 2px;
  height: 96px;
  width: 126px;

}

.art .img img {
  height: 100%;
  width: 100%;
}

/* FAVES BLOCK */
#mm-faves .faves-block { margin-bottom: 20px; }

#mm-faves .faves-list li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  width: 126px;
  height: 46px;
  text-align: center;
}

#mm-faves .nav-tabs { margin: 0 0 20px 0; }

#mm-faves .nav-tabs li { margin: 0 2px 0 0; }

#mm-faves .nav-tabs > li > a {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 5px;
}

#mm-faves .nav-tabs li:nth-child(1n+5) { margin-top:0; }

#mm-faves .tab-pane .faves-list li:nth-child(1n+1) {
  margin-right: 0;
  margin-bottom: 20px;
}

#mm-faves .tab-pane .faves-list li.ordinary { margin-left: 20px; }

#mm-faves .tab-pane .shm { margin: 0; }

#gbanner { margin-top: 35px; }

#hcancarousel {
  padding: 0;
  margin-bottom: 30px;
  min-height: 60px;
}

#hcancarousel .owl-prev {
  position: relative;
  left: 0;
}

#hcancarousel .owl-next {
  position: relative;
  right: 0;
}

#hcancarousel .owl-carousel {
  margin: 0;
  padding: 0;
}

#hcancarousel .owl-carousel .owl-wrapper .owl-item {
  margin: 0;
  text-align: center;
}

#hcancarousel .owl-wrapper { margin: 2px 0; }

#hcancarousel .owl-wrapper-outer { height: 52px; }

#hcancarousel .owl-theme .owl-controls .owl-buttons { width: 100%; }

#hcancarousel .faves-list li:nth-child(3n) { margin-right: 20px !important; }

#hcancarousel .owl-item li {
  display: inline-block;
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  text-decoration: none;
  width: 126px;
}

#hcancarousel .owl-item li:hover { background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%); }

#hcancarousel .owl-item li a img {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
}

#tabbed-nav {
  height: 34px;
  margin: 0 60px 15px 60px;
}

#tabbed-nav-list { margin: 0; }

#tabbed-nav-list .tab-pane { display: none; }

#tabbed-nav-list .active { display: block; }

#tabbed-nav .list-tab {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  border: none;
  position: relative;
  text-align: center;
}

#tabbed-nav .list-tab li {
  display: inline-block;
  position: relative;
  max-width: 5%;
  min-width: 86px;
  background-color: #fff;
  border: 1px solid #C9DFF2;
  border-radius: 6px;
  width: 60%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #CAE6FF;
  padding: 0;
  margin-right: 15px;
  overflow: hidden;
  box-shadow: 0 1px 2px rgb(121, 184, 255);
  float: none;
}

#tabbed-nav .list-tab li.active { background-color: rgb(121, 184, 255); }

#tabbed-nav .list-tab li.active a { color: #fff; }

#tabbed-nav .list-tab li.active a:hover { color: rgb(121, 184, 255); }

#tabbed-nav .list-tab li:hover {
  cursor: pointer;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

#tabbed-nav .list-tab li a {
  display: inline-block;
  border: none;
  padding: 0;
  color: rgb(121, 184, 255);
  line-height: 32px;
  height: 100%;
  width: 100%;
}

#tabbed-nav .nav-tabs > li > a,
#tabbed-nav .nav-tabs > li > a:hover,
#tabbed-nav .nav-tabs > li > a:focus {
  background-color: transparent;
  border: none;
}
